@import '../../styles/vars';
@import '../../styles/mixins';
.cart {

    &-desktop {
        display: none;

        @include respond-to(large) {
            display: block;
            margin-top: calc(48px + 24px);
        }
    }
    &__inner {
        margin: 0px $space-medium 0px;
        background-color: $color-light-gray;
        padding: 16px $space-medium;
        @include border-radius(12px);

        @include respond-to(x-small) {
            max-width: 145px;
        }
        
        @include respond-to(small) {
            margin: 0px 30px 0px;
        }

        @include respond-to(medium) {
            margin: 0px 54px 0px;
        }

        @include respond-to(large) {
            padding: $space-large 16px;
        }
     }

    &__header {
        @include flex-between;

        &-title {
            font-size: $font-size-medium;
            font-weight: $font-weight-bold;
            line-height: 16px;

            @include respond-to(large) {
                font-size: 24px;
                font-weight: 600;
                line-height: 24px;
            }
        }
        
        &-count {
            padding: 1px 13px;
            font-size: 10px;
            font-weight: $font-weight-normal;
            line-height: 13.64px;
            background-color: $color-dark-gray;
            @include border-radius(6px);

            @include respond-to(large) {
                padding: 2px 16px;
                font-size: 12px;
                line-height: 16.37px;
            }
        }
    }

    &__empty {
        @include flex-center;
        margin-top: $space-large;
        font-size: $font-size-small;
        font-weight: 100;
        line-height: $line-height-normal;

        @include respond-to(large) {
            font-size: $font-size-medium;
        }
    }

    &__products {
        margin-top: 8px;

        @include respond-to(large) {
            margin-top: 12px;
        }

        &-item {
            padding-top: 10px;
            @include flex-between;
            gap: 6;
            border-top: 1px solid $color-dark-gray;
            margin: 8px 0px;

            &-info {
                display: flex;
                align-items: center;
                gap: 6px;

            &-image {
                width: 64px;
                height: 52px;
                @include border-radius(8px);
            }

            &-text {
                @include flex-column;

                &-title {
                    font-size: $font-size-small;
                    font-weight: $font-weight-normal;
                    line-height: 16.37px;
                    margin-bottom: 1px;
                }

                &-weight {
                    font-size: $font-size-small;
                    font-weight: $font-weight-normal;
                    line-height: 16.37px;
                    color: $color-gray;
                    margin-bottom: 6px;
                }

                &-cost {
                    font-size: $font-size-small;
                    font-weight: $font-weight-normal;
                    line-height: 16.37px;
                }
            }
            }

            &-counter {
                @include flex-between;

                padding: 7px 8px;
                max-height: 30px;
                background-color: $color-dark-gray;
                border-radius: 8px;
                gap: 19px;

                &-element {
                    display: flex;
                    font-size: $font-size-small;
                    font-weight: $font-weight-normal;
                    line-height: 16.37px;
                }

                @include respond-to(large) {
                    padding: 9px 12px;
                }
            }
            
            @include respond-to(large) {
                padding-top: 16px;
                margin-bottom: 16px;
            }
        }
    }

        @include respond-to(large) {
        display: none;
    }
}

// Модальное окно корзины
.cart-modal {
    position: absolute;
    z-index: 1000;
    width: calc(100% - 0px);
    max-height: 390px;
    transition: 0.5s;

    &__content {
        position: relative;

        @include respond-to(large) {
            position: static;
        }
    }

    @include respond-to(large) {
        position: static;
    }
}

.modal-cart {
    &__inner {
        position: absolute;
        right: $space-medium;
        left: $space-medium;
        background-color: $color-light-gray;
        padding: 16px $space-medium;
        @include border-radius(12px);
        

        @include respond-to(x-small) {
            max-width: 300px;
        }
        @include respond-to(small) {
            margin: 0px 20px 0px;
        }
        @include respond-to(medium) {
            margin: 0px 44px 0px;
        }
        @include respond-to(large) {
            width: 300px;
            position: static;
            margin: 0px;
            padding: 16px;
        }
    }

    &__total {
        @include flex-between;
        margin-bottom: 19px;
        font-size: 12px;
        font-weight: 400;
        line-height : 15.6px;

        @include respond-to(large) {
            font-size: 16px;
            line-height: 20.8px;
            margin-bottom: 24px;
        }
    }

    &__submit {
        @include button($color-secondary, $color-light-gray, 9px 0px, 8px, 12px, 400);

        @include respond-to(large) {
            @include button($color-secondary, $color-light-gray, 12px 0px, 12px, 16px, 400);
        }
    }

    &__footer {
        @include flex-between;
        margin-top: 8px;

        &-delivery {
            display: flex;
            align-items: center;
            gap: 8px;

            img {
                width: 24px;
                height: 24px;
            }

            span {
                font-size: 10px;
                font-weight: $font-weight-normal;
                line-height: 13.64px;

                @include respond-to(large) {
                    font-size: 12px;
                    line-height: 16.37px;
                }
            }


        }

        &-close {
            font-size: 10px;
            font-weight: $font-weight-normal;
            line-height: 13.64px;
            color: $color-gray;
        }
    }
}