@import '../../styles/vars';
@import '../../styles/mixins';

.categories {

    &__inner {
        margin-top: 30px;
        margin-bottom: 30px;

        @include respond-to(medium) {
            margin-bottom: 36px;
        }

        @include respond-to(large) {
            margin-top: 40px;
            margin-bottom: 50px;
        }
    }

    &__slider {
        margin: 0 auto;
    }

    .slider__item {
        background-color: $color-light-gray;
        @include flex-center;
        padding: 8px;
        @include border-radius(30px);
        max-height: 30px;

        cursor: pointer;

        &-image {
            max-width: 24px;
            max-height: 24px;
            margin-right: 8px;
        }

        &-name {
            color: $color-black;
            font-size: $font-size-small;
            font-weight: $font-weight-normal;
            line-height: 16.37px;

            @include respond-to(large) {
                font-size: 16px;
                line-height: 21.82px;
            }
        }
        
        &--choosed {
            background-color: $color-primary;
        }

        &:hover {
            position: relative;
            color: white;
            background-color: $color-primary;
            transition: 0.3s;
        }

        &:active {
            background-color: $color-secondary;
            transition: 0.3s
        }

        @include respond-to(large) {
            padding: 9px;
        }
    }
}