@import '../../styles/vars';
@import '../../styles/mixins';

.footer {
    &__inner {
        margin-top: 80px;
        padding: 24px 10px 26px;
        background-color: $color-light-gray;

        @include respond-to(medium) {
            padding: 40px 64px 26px;
        }

        @include respond-to(large) {
            padding: 50px 32px 40px;
            margin-top: 100px;
        }

        @include respond-to(xx-large) {
            margin-top: 100px;
            padding: 50px 75px 40px;
        }
    }

    &__content-block {

        &-logo {
            width: 196px;
            margin-bottom: 24px;

            @include respond-to(medium) {
                margin-bottom: 36px;
            }

            @include respond-to(large) {
                width: 300px;
            }
        }

        &-contacts {

            &-phone {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
                margin-bottom: 24px;

                &-title {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 18px;
                }

                &-main {
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    img {
                        width: 18px;
                        height: 18px;
                    }

                    a {
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 15.6px;
                    }

                }

                @include respond-to(large) {
                    gap: 24px;
                }
            }

            &-social {
                display: flex;
                flex-direction: column;
                gap: 8px;
                margin-bottom: 34px;

                &-title {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 18px;
                }

                &-main {
                    display: flex;
                    gap: 16px;

                    img {
                        width: 36px;
                        height: 36px;
                    }
                }

                @include respond-to(large) {
                    gap: 22px;
                }
            }

            @include respond-to(medium) {
                display: flex;
                flex-direction: row;
                gap: 177px;
                align-items: flex-start;
                margin-bottom: 40px;
            }

            @include respond-to(large) {
                margin-bottom: 0px;
                gap: 50px;
            }
        }


        @include respond-to(large) {
            @include flex-between;
            align-items: flex-start;
            margin-bottom: 35px;
        }
    }

    &__desc {
        font-size: 12px;
        font-weight: 400;
        line-height: 16.37px;
    }
}